.wrapper {
  display: flex;
  gap: 50px;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper input[type="text"],
.wrapper button[type="submit"] {
  width: 150px;
  padding: 8px;
  background-color: transparent;
  border: 2px solid #eeeeea;
  border-radius: 8px;
  color: #eeeeea;
  transition: .5s;
}

.wrapper button[type="submit"]:hover {
  cursor: pointer;
  background-color: #eeeeea;
  color: #313a31;
}

.wrapper .user-loading, 
.wrapper .user-error, 
.wrapper .user-name {
  font-size: 1.5rem;
  order: -1;
}

.wrapper .user-error {
  color: red;
}
